<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Stock checker</title>

	<!-- Styles & Bootstrap 4 -->
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css">
	<link rel="stylesheet" type="text/css" href="/css/jquery-ui.theme.min.css">	
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<!-- Navbar -->
<header>
	<div class="fluid-container">
		<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark" id="topnavbar" role="navigation">
		<a id="logo" class="navbar-brand mx-auto" href="/">
			<img src="/images/logo4.png" width="50" height="50" class="d-inline-block align-top mt-1" alt="" loading="lazy">
			StockCheck
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
			<li class="nav-item active">
				<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/markets">Markets</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/stocks">Stocks</a>
			</li>
			</ul>
		</div>
		</nav>
	</div>
</header>

<body>
	<!-- Scripts & jQuery 3.5.1 -->
	<script src="/js/jquery-3.5.1.js"></script>
	<script src="/js/jquery-ui.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/main.js"></script>

	

