<%- include("partials/header_charts"); %>

<div class="container">
  <canvas id="myChart" width="400" height="400"></canvas>
</div>

<script>
  let temp = '<%- JSON.stringify(info) %>';
  var info = JSON.parse(temp);
  temp = '<%- JSON.stringify(stockName) %>';
  var stockName = JSON.parse(temp);

  var ctx = document.getElementById('myChart');
  
  function getColor() {
    if (info.data[0].close > info.data[99].close)
      return 'rgb(0,135,60)';
    else if (info.data[0].close < info.data[99].close)
      return 'rgb(235,15,41)';
    else
      return 'rgb(158,158,158)';
  }

  function getLables() {
    var labels = [];
    for (let i=0; i< info.pagination.count; i++) {
      var temp = info.data[i].date.split('T'); 
      labels.push(temp[0]);
    }
    return labels.reverse(); 
  }

  function getData() {
    var data = [];
    for (let i=0; i<info.pagination.count; i++) {
      data.push(info.data[i].close);
    }
    return data.reverse();
  }
  
  var chart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: getLables(), 
        datasets: [{
            label: stockName + '(' + info.data[0].symbol + ')',
            backgroundColor: getColor(),
            borderColor: getColor(),
            data: getData()
        }]
    },

    // Configuration options go here
    options: {}
});
</script>

<%- include("partials/footer"); %>