<%- include("partials/header"); %>

	
	<form action="/" method="POST" class="container pt-2" enctype="application/json">
		<div class="form-group">
			<select class="form-control" name="market" id="market">
                <option value="">Select market</option>
                <!-- <option value="debug1">debug1</option>  -->
            </select>
            <div class="form-group ui-widget mt-1">  
                <input class="form-control" name="stock" id="input" type="text" placeholder="Search stock..."/>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


<%- include("partials/footer"); %>