@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@700&display=swap');

body { padding-top: 65px; }
@media (max-width: 767px) /* @grid-float-breakpoint -1 */
{
    .fixed-top
    {
    position: relative;
    top: auto;
	}

	.navbar-collapse {
        max-height: none;
    }
    body {
		margin: -65px 0 0 0;
    }
    
}

.clickable-row { cursor: pointer; }

#logo {
	font-family: 'News Cycle', sans-serif;
	text-shadow: .5px .5px #2498C2;
	font-size: xx-large;
	margin: -14px 0 -10px 0;
	padding-right: 7px;
}

#logo img {
	margin-right: -6px;
	margin-left: -10px;
} 

.ui-autocomplete-loading {
    background: white url("/images/ui-anim_basic_16x16.gif") right center no-repeat;
  }

@media (min-width: 768px) and (max-width: 991px) {
  #chartButton {
    margin-top: 4px;
    margin-bottom: 3px;
  }

  #parent {
    position: relative;
    height: 310px;
  }

  #buttons {
    position: absolute;
    bottom: 0px;
  }
}

@media (min-width: 992px) and (max-width: 1199px){ 
  #chartButton {
    margin-top: 4px;
    margin-bottom: 3px;
  }

  #parent {
    position: relative;
    height: 315px;
  }

  #buttons {
    position: absolute;
    bottom: 0px;
  }
}

@media (min-width: 1200px) { 
  #chartButton {
    margin-top: 4px;
    margin-bottom: 3px;
  }

  #parent {
    position: relative;
    height: 290px;
  }

  #buttons {
    position: absolute;
    bottom: 0px;
  }
}